---
layout: archive
permalink: /year-archive/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

My students and I mostly post on <a href="https://gtsam.org/blog/">gtsam.org</a>:

<ul>
<li>Aug 30, 2020: <a href="https://gtsam.org//2020/08/30/Laplacian.html">Mount Rainier’s Eigenvectors</a></li>
<li>Jul 16, 2020: <a href="https://gtsam.org/2020/07/16/new-release-gtsam.html">Releasing GTSAM 4.0.3</a></li>
<li>Jun 28, 2020: <a href="https://gtsam.org/2020/06/28/gtsam-conventions.html">Geometry and Variable Naming Conventions</a></li>
<li>Jun  1, 2020: <a href="https://gtsam.org//2020/06/01/factor-graphs.html">What are Factor Graphs?</a></li>
<li>Nov  7, 2019: <a href="https://gtsam.org//2019/11/07/lqr-control.html">LQR Control Using Factor Graphs</a></li>
<li>Sep 20, 2019: <a href="https://gtsam.org//2019/09/20/robust-noise-model.html">Look Ma, No RANSAC</a></li>
<li>Sep 18, 2019: <a href="https://gtsam.org//2019/09/18/legged-robot-factors-part-I.html">Legged Robot Factors Part I</a></li>
<li>May 20, 2019: <a href="https://gtsam.org/2019/05/20/gtsam-org.html">Launching gtsam.org</a></li>
<li>May 18, 2019: <a href="https://gtsam.org/2019/05/18/moving-to-github.html">Moving to Github!</a></li>
</ul>

Below is the list of non GTSAM/factor graph related posts:
{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
